body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
}
header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em;
}
nav {
    display: flex;
    justify-content: center;
    color: #000;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin-right: 20px; /* Adjust as needed */
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: larger;
}
.active {
    text-decoration: underline;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p{
    font-size: x-large;
    line-height: 40px;
}
.blog{
    border-width: 5px;
    border-color: white;
    border-style: solid;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    min-height: 30em;
    max-height: fit-content;
}
.blog-row {
    display: flex;
    justify-content: space-around;
}

/* Adjust the width of each blog-small div to fit 3 in a row */
.blog-small {
    display: flex;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    width: 30%;
    padding: 3px 3px 3px 3px;
    text-align: center;
    margin: 5px auto;
    min-height: 10em;
    flex-direction: column;
    justify-content: center;
}

.blog p,
.blog h2,
.blog h4 {
    text-align: center;
}

.form{
    display: flex;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    width: 20%;
    padding: 3px 3px 3px 3px;
    text-align: center;
    margin: 5px auto;
    min-height: 17em;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.blogform{
    display: flex;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    width: 60%;
    padding: 3px 3px 3px 3px;
    text-align: center;
    margin: 5px auto;
    min-height: 60em;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}
form .button{
    background-color: transparent;
    border: 1px solid #ffffff; /* Add a border to make it visible */
    color: #ffffff; /* Set text color */
    padding: 10px 10px; /* Set padding for better visibility */
    cursor: pointer; 
    font-weight: bold;
    border-style: none solid solid none;
    border-radius: 5px;
}
form .button:hover{
    border-style: solid;
}

form .text{
    color: white;
    background-color: black;
    border: none;
    border-style: none none solid none;
}
form .text:focus{
    outline: none;
}

textarea{
    color: white;
    background-color: rgb(20, 20, 20);
    border: none;
    border-style: none solid solid none;
    resize: none;
}

textarea:focus{
    outline: none;
}

::placeholder{
    color: rgb(255, 255, 255);
    opacity: 75%;
}