{% extends 'base_files/base.html' %}
{%block title%}Home{%endblock%}

{%block content%}

<center><h2 style="padding-top: 1.5em;">Home Page</h2></center>

<center><h2 style="padding-top: 1.5em;">Featured Blogs</h2></center>
<div style="width: 80%; margin: auto;">
    <div class="blog-selection">
        <div class="blog-row">
        {% for blog in blogs %}
            <div class="blog-small" >
                <a href="/blogs/{{blog[0]}}" style="color: white; text-decoration: none;">
                    <h4>{{ blog[2] }}</h4>
                    <p>{{ blog[3] }}</p>
                </a>
            </div>

            {% if loop.index % 3 == 0 %}
                </div><div class="blog-row">
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

<center><h2 style="padding-top: 5em;">Featured Users</h2></center>
<div style="width: 80%; margin: auto;">
    <div class="blog-selection">
        <div class="blog-row">
        {% for blog in users %}
            <div class="blog-small" >
                <a href="/users/{{blog[0]}}" style="color: white; text-decoration: none;">
                    <h4 style="font-size: xx-large; text-transform: capitalize;">{{blog[1]}}</h4>
                    <p>Read {{blog[1]}}'s Blogs</p>
                </a>
            </div>

            {% if loop.index % 3 == 0 %}
                </div><div class="blog-row">
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

<br><br><br>


{% endblock %}